# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [6]:
import numpy as np 
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [7]:
stocks=pd.read_csv('sp_500_stocks.csv')
stocks.head()

  Ticker
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [8]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [ ]:
symbol='AAPL'
api_url=f'https://cloud.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data=requests.get(api_url).json()

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [10]:
price=data['latestPrice']
market_cap=data['marketCap']
print(price)
print(market_cap)

150.515
2488037935490

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [11]:
my_columns=['Ticker', 'Stock Price', 'Market Capalization','Number of Shares to Buy']
final_dataframe=pd.DataFrame(columns=my_columns)#[[0,0,0,0]],
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capalization, Number of Shares to Buy]
Index: []

In [12]:
final_dataframe.append(
    pd.Series(
    [
        symbol,
        price,
        market_cap,
        'N/A'
    ],
    index=my_columns,
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capalization Number of Shares to Buy
0   AAPL      150.515       2488037935490                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [20]:
final_dataframe=pd.DataFrame(columns=my_columns)
for stock in stocks['Ticker']:
    api_url=f'https://cloud.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data=requests.get(api_url).json()
    final_dataframe=final_dataframe.append(
        pd.Series(
        [
            stock,
            data['latestPrice'],
            data['marketCap'],
            'N/A'
        ],
        index=my_columns),
    ignore_index=True
    )

In [22]:
final_dataframe

    Ticker  Stock Price Market Capalization Number of Shares to Buy
0        A       148.96       2462333527360                     N/A
1      AAL       148.96       2462333527360                     N/A
2      AAP       148.96       2462333527360                     N/A
3     AAPL       148.96       2462333527360                     N/A
4     ABBV       148.96       2462333527360                     N/A
..     ...          ...                 ...                     ...
500    YUM       148.96       2462333527360                     N/A
501    ZBH       148.96       2462333527360                     N/A
502   ZBRA       148.96       2462333527360                     N/A
503   ZION       148.96       2462333527360                     N/A
504    ZTS       148.96       2462333527360                     N/A

[505 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [13]:
def chunks(lst,n):
    for i in range(0,len(lst),n):
        yield lst[i:i+n]

In [14]:
symbol_groups=list(chunks(stocks['Ticker'],100))
symbol_strings=[]

for i in range(0,len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
final_dataframe=pd.DataFrame(columns=my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url=f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data=requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe=final_dataframe.append(
        pd.Series(
        [
            symbol,
            data[symbol]['quote']['latestPrice'],
            data[symbol]['quote']['marketCap'],
            'N/A'
        ],
        index=my_columns),
        ignore_index=True
        )
    
final_dataframe

    Ticker  Stock Price Market Capalization Number of Shares to Buy
0        A      157.200         47588003410                     N/A
1      AAL       19.710         12761393849                     N/A
2      AAP      228.080         14369209007                     N/A
3     AAPL      150.570       2488947094620                     N/A
4     ABBV      116.905        206591655568                     N/A
5      ABC      125.380         26052348604                     N/A
6     ABMD      349.190         15887268533                     N/A
7      ABT      128.140        227168815101                     N/A
8      ACN      361.390        237339082846                     N/A
9     ADBE      640.210        304996044000                     N/A
10     ADI      177.230         65258627655                     N/A
11     ADM       63.530         35541303248                     N/A
12     ADP      224.730         94998615075                     N/A
13    ADSK      313.530         68929708767                     N/A
14     AEE       84.295         21676220021                     N/A
15     AEP       85.010         42815429062                     N/A
16     AES       25.380         16912210176                     N/A
17     AFL       54.965         36867298248                     N/A
18     AIG       60.095         51393390452                     N/A
19     AIV        7.790          1165871257                     N/A
20     AIZ      161.510          9498983728                     N/A
21     AJG      162.575         33612381250                     N/A
22    AKAM      104.930         17085735216                     N/A
23     ALB      257.360         30098217771                     N/A
24    ALGN      668.080         52786031647                     N/A
25     ALK       54.165          6783230333                     N/A
26     ALL      125.080         36983830513                     N/A
27    ALLE      131.585         11802668687                     N/A
28    ALXN      182.500         40336009475                     N/A
29    AMAT      140.790        127123303515                     N/A
..     ...          ...                 ...                     ...
475     VZ       52.665        218041731583                     N/A
476    WAB       90.790         16961479770                     N/A
477    WAT      351.540         21571689284                     N/A
478    WBA       47.560         41168523746                     N/A
479    WDC       54.950         17118377823                     N/A
480    WEC       90.930         28682461904                     N/A
481   WELL       82.070         34679732115                     N/A
482    WFC       51.500        211480141420                     N/A
483    WHR      215.750         13528279046                     N/A
484   WLTW      236.220         29434452233                     N/A
485     WM      161.490         67553908492                     N/A
486    WMB       28.465         34583803067                     N/A
487    WMT      149.960        418163132487                     N/A
488    WRB       81.290         14431404677                     N/A
489    WRK       47.020         12554626963                     N/A
490    WST      435.290         32246159142                     N/A
491     WU       18.435          7491029104                     N/A
492     WY       36.285         27205912440                     N/A
493   WYNN       90.895         10513973082                     N/A
494    XEL       64.720         34863082890                     N/A
495   XLNX      187.590         46499887050                     N/A
496    XOM       64.810        274377212651                     N/A
497   XRAY       58.940         12881372423                     N/A
498    XRX       19.220          3430491867                     N/A
499    XYL      129.570         23343719133                     N/A
500    YUM      124.465         36797648841                     N/A
501    ZBH      146.175         30527259503                     N/A
502   ZBRA      588.890         31448473237                     N/A
503   ZION       63.990         10370888927                     N/A
504    ZTS      214.010        101428796744                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [16]:
portfolio_size=input('Enter the value of your portfolio:')
try:
    val=float(portfolio_size)
    
except:
    print("That's not a number!\n Please try again")
    portfolio_size=input('Enter the value of your portfolio:')
    val=float(portfolio_size)

Enter the value of your portfolio:10000000

In [20]:
position_size=val/len(final_dataframe.index)
for i in range(0,len(final_dataframe.index)):
    final_dataframe.loc[i,'Number of Shares to Buy']=math.floor(position_size/final_dataframe.loc[i,'Stock Price'])

final_dataframe

    Ticker  Stock Price Market Capalization Number of Shares to Buy
0        A      157.200         47588003410                     125
1      AAL       19.710         12761393849                    1004
2      AAP      228.080         14369209007                      86
3     AAPL      150.570       2488947094620                     131
4     ABBV      116.905        206591655568                     169
5      ABC      125.380         26052348604                     157
6     ABMD      349.190         15887268533                      56
7      ABT      128.140        227168815101                     154
8      ACN      361.390        237339082846                      54
9     ADBE      640.210        304996044000                      30
10     ADI      177.230         65258627655                     111
11     ADM       63.530         35541303248                     311
12     ADP      224.730         94998615075                      88
13    ADSK      313.530         68929708767                      63
14     AEE       84.295         21676220021                     234
15     AEP       85.010         42815429062                     232
16     AES       25.380         16912210176                     780
17     AFL       54.965         36867298248                     360
18     AIG       60.095         51393390452                     329
19     AIV        7.790          1165871257                    2541
20     AIZ      161.510          9498983728                     122
21     AJG      162.575         33612381250                     121
22    AKAM      104.930         17085735216                     188
23     ALB      257.360         30098217771                      76
24    ALGN      668.080         52786031647                      29
25     ALK       54.165          6783230333                     365
26     ALL      125.080         36983830513                     158
27    ALLE      131.585         11802668687                     150
28    ALXN      182.500         40336009475                     108
29    AMAT      140.790        127123303515                     140
..     ...          ...                 ...                     ...
475     VZ       52.665        218041731583                     375
476    WAB       90.790         16961479770                     218
477    WAT      351.540         21571689284                      56
478    WBA       47.560         41168523746                     416
479    WDC       54.950         17118377823                     360
480    WEC       90.930         28682461904                     217
481   WELL       82.070         34679732115                     241
482    WFC       51.500        211480141420                     384
483    WHR      215.750         13528279046                      91
484   WLTW      236.220         29434452233                      83
485     WM      161.490         67553908492                     122
486    WMB       28.465         34583803067                     695
487    WMT      149.960        418163132487                     132
488    WRB       81.290         14431404677                     243
489    WRK       47.020         12554626963                     421
490    WST      435.290         32246159142                      45
491     WU       18.435          7491029104                    1074
492     WY       36.285         27205912440                     545
493   WYNN       90.895         10513973082                     217
494    XEL       64.720         34863082890                     305
495   XLNX      187.590         46499887050                     105
496    XOM       64.810        274377212651                     305
497   XRAY       58.940         12881372423                     335
498    XRX       19.220          3430491867                    1030
499    XYL      129.570         23343719133                     152
500    YUM      124.465         36797648841                     159
501    ZBH      146.175         30527259503                     135
502   ZBRA      588.890         31448473237                      33
503   ZION       63.990         10370888927                     309
504    ZTS      214.010        101428796744                      92

[505 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [67]:
writer=pd.ExcelWriter('recomended trades.xlsx',engine='xlsxwriter')
final_dataframe.to_excel(writer,'Recommended Trades',index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [68]:
background_color='#0a0a23'
font_color='#ffffff'
string_format=writer.book.add_format(
    {
    'font_color': font_color,
    'bg_color': background_color,
    'border':1
    }
)

dollar_format=writer.book.add_format(
    {
    'num_format': '$0.00',
    'font_color': font_color,
    'bg_color': background_color,
    'border':1
    }
)
integer_format=writer.book.add_format(
    {
    'num_format': '0',
    'font_color': font_color,
    'bg_color': background_color,
    'border':1
    }
)

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [69]:
writer.sheets['Recommended Trades'].set_column('A:A',18,string_format)
writer.sheets['Recommended Trades'].set_column('B:B',18,string_format)
writer.sheets['Recommended Trades'].set_column('C:C',18,string_format)
writer.sheets['Recommended Trades'].set_column('D:D',18,string_format)
writer.save()

writer.sheets['Recommended Trades'].write('A1','Ticker',string_format)
writer.sheets['Recommended Trades'].write('B1','Stock Price',dollar_format)
writer.sheets['Recommended Trades'].write('C1','Market Capitalization',dollar_format)
writer.sheets['Recommended Trades'].write('D1','Number of Shares to Buy',integer_format)

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [70]:
column_formats={
    'A':['Ticker', string_format],
    'B':['Stock Price', dollar_format],
    'C':['Market Capitalization',dollar_format],
    'D':['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}',18,column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1',column_formats[column][0],column_formats[column][1])

## Saving Our Excel Output

Saving our Excel file is very easy:

In [71]:
writer.save()